@import "./utils/variables",
        "./utils/mixins";

@import "./bases/reset",
        "./bases/base",
        "./bases/typography";

@import "./componants/button";

@import "./layouts/header", 
        "./layouts/footer";
    
/* Style background of the page */
body {
    background:url("../assets/images/image-hero-desktop.webp") scroll no-repeat 
    top -146.13px right -335.63px, linear-gradient(180deg, #FFF 40%, #F0F1FF 100%);

    @media screen and (max-width: 1279.9px) {
        background:url("../assets/images/image-hero-tablet.webp") scroll no-repeat 
        top -92.13px right -297.71px, linear-gradient(180deg, #FFF 30%, #F0F1FF 100%);
    }

    @media screen and (max-width: 767.9px) {
        background:url("../assets/images/image-hero-mobile.webp") scroll no-repeat 
        top 433px center, linear-gradient(180deg, #FFF 20%, #F0F1FF 100%);
    }
}

/* Style of the banner */
.hero {
    @include content_center;
    margin-top: 172px;
    margin-bottom: 250px;

    @media screen and (max-width: 1279.9px) {
        margin-top: 99px;
        margin-bottom: 210px;
    }

    @media screen and (max-width: 767.9px) {
        margin-top: 38px;
        margin-bottom: 413px;
    }

    &-heading {
        width: 460px;

        @media screen and (max-width: 1279.9px) {
            max-width: 398px;
        }

        @media screen and (max-width: 767.9px) {
            max-width: 343px;
        }
    }

    p {
        margin: 29px 18px 40px 0;

        @media screen and (max-width: 1279.9px) {
            margin: 25px 0;
        }

        @media screen and (max-width: 767.9px) {
            margin: 26px 0 24px;
        }
    }

    .CTA {
        padding-top: 19px;
        padding-bottom: 16px;
        background: linear-gradient(180deg, nth($bg-primary-gradient, 1) 0%, 
        nth($bg-primary-gradient, 2) 100%);

        @media screen and (max-width: 1279.9px) {
            padding: 15px 37px 15px 37px;
        }
    }

    .CTA:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%),
        linear-gradient(180deg, nth($bg-primary-gradient, 1) 0%, nth($bg-primary-gradient, 2) 100%);
    }
}

/* style of the services presentation section */
.services {
    @include content_center;
    display: grid;
    grid-template: repeat(2, 322px) / repeat(3, 350px);
    row-gap: 80px;
    column-gap: 30px;

    @media screen and (max-width: 1279.9px) {
        grid-template: repeat(3, 259px) / repeat(2, 339px);
        row-gap: 56px;
        column-gap: 11px;
    }

    @media screen and (max-width: 767.9px) {
        grid-template: 120px repeat(5, 259px) / repeat(1, 343px);
        row-gap: 40px;
    }

    h2 {
        background: linear-gradient(180deg, nth($bg-primary-gradient, 1) 0%, 
        nth($bg-primary-gradient, 2) 100%);
        border-radius: 15px;
        padding: 64px 32px 138px;

        @media screen and (max-width: 1279.9px) {
            padding: 56px 21px 139px 32px;
        }

        @media screen and (max-width: 767.9px) {
            padding: 24px 29px 32px 28px;
        }
    }

    &-feature {
        background-color: $white;
        border-radius: 15px;
        padding: 64px 32px 40px;
        position: relative;

        @media screen and (max-width: 1279.9px) {
            padding: 56px 21px 32px 32px;
        }

        h3 {
            margin-bottom: 24px;

            @media screen and (max-width: 1279.9px) {
                margin-bottom: 16px;
            }
        }

        div {
            height: 100%; 
            display: flex;
            flex-direction: column;
        }

        a {
            color: $emphasize;
            text-decoration: none;
            justify-self: flex-end;
            margin-top: auto;
            font-weight: 700;
        }

        a:hover {
            opacity: .7;
        }
    }

    .icon {
        position: absolute;
        top: -24px;
    }
    
}