// text color
$primary: #83869A;
$secondary: #13183F;
$emphasize: #F74780;
$white: #FFFFFF;

// background color
$bg-primary: #13183F;
$bg-primary-gradient: #FF6F48, #F02AA6;
$bg-secondary-gradient: #4851FF, #F02AA6;

// background hover 
$bg-primary-hover: #666CA3;