// Default color of all the page 
$body: #83869A;
$body-color: $body;

// Title color
$primary: #13183F;
$secondary: #F74780;

// Gradient's colors
$gradient-1: #FFF, #F0F1FF;
$gradient-2: #FF6F48, #F02AA6;
$gradient-3: #4851FF, #F02AA6;

// Fcustom line-height
$line-height-base: 1.75;

