footer {
    margin-top: 140px;
    background-color: $bg-primary;
    div {
        @include content_center;
        @include header_footer;
        padding: 32px 0;

        @media screen and (max-width: 1279.9px) {
            padding: 36px 0;
        }
    }

    .CTA {
        background: linear-gradient(180deg, nth($bg-secondary-gradient, 1) 0%, 
        nth($bg-secondary-gradient, 2) 100%);
    }

    .CTA:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), 
        linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }

    @media screen and (max-width: 1279.9px) {
        margin-top: 86px;
    }

    @media screen and (max-width: 767.9px) {
        margin-top: 80px;
    }
}